[user]
	email = bojan.ramsak@rtvslo.si
	name = Bojan
[github]
  user = bojanra
[core]
  whitespace = blank-at-eol,blank-at-eof,tab-in-indent
  excludesfile = /home/ramsakb/.gitignore
[push]
	default = simple
[pull]
  # Preserve the history of everybody and avoid origin merge commits
	rebase = true
[help]  
  autocorrect = 10
[diff]
	tool = meld
  guitool = meld
  algorithm = histogram
[difftool]
  prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[mergetool]
	keepBackup = false
	prompt = false
[merge]
	tool = meld
  conflictsytle = zdiff3
[mergetool "meld"]
cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
# [merge]
#   tool = "nvim"
# [mergetool "nvim"]
#   cmd = nvim -d "$LOCAL" "$MERGED" "$REMOTE"
[color]
	ui = auto
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[log]
  date = iso8601
[alias]
  co = checkout
  br = branch
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	logg = log --oneline --graph --decorate
	sta = !git stash push && git stash apply
[rebase]
	autoStash = true
[init]
	defaultBranch = master
[column]
  ui = auto
[rerere]
  enabled = true
